<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>123985295629-q5gs5unsu4as1b60lo1actutn712m6fb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123985295629-q5gs5unsu4as1b60lo1actutn712m6fb</string>
	<key>API_KEY</key>
	<string>AIzaSyBAT3x5Bz0dss-3Tps3HWiV2NT2zqPry2g</string>
	<key>GCM_SENDER_ID</key>
	<string>123985295629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>biswajitbanik.GroupChat</string>
	<key>PROJECT_ID</key>
	<string>groupchat-b9b91</string>
	<key>STORAGE_BUCKET</key>
	<string>groupchat-b9b91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123985295629:ios:0ab8ea9d3479a435</string>
	<key>DATABASE_URL</key>
	<string>https://groupchat-b9b91.firebaseio.com</string>
</dict>
</plist>